.cellContainer {
  width: 25%;
  float: left;
}

.wrapper {
  display: flex;
  width: 100px;
}

.wrapper .sidebar {
  width: 250px;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  transition: all 0.3s;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
