.wrapper {
  display: flex;
  width: 200px;
}

.wrapper .sidebar {
  width: 250px;
  height: 100vh;
  z-index: 999;
  background: #191970;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid #fff;
}
