<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
    <title>FHIR Patient Dashboard</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>FHIR Dashboard</h2>
        <ul class="list-unstyled components">
          <li class="active">
            <a href="/">Patient List</a>
          </li>
          <li>
            <a href="/demographics">FHIR Demographics</a>
          </li>
        </ul>
      </div>
      <div class="content" style="margin-left:250px; margin-top: 25px;">
        {% block body %}{% endblock %}
      </div>
    </div>
    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='utils/color-generator.js') }}"
    ></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
