{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="row">
  <div class="col-sm-7" style="margin-bottom: 10px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Age Groups</h5>
        <canvas id="ageChart"></canvas>
      </div>
    </div>
  </div> 
  <div class="col-sm-5" style="margin-bottom: 10px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Marital Groups</h5>
        <canvas id="maritalChart"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" style="margin-bottom: 10px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Race Groups</h5>
        <canvas id="raceChart"></canvas>
      </div>
    </div>
  </div>
    <div class="col-sm-4" style="margin-bottom: 10px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gender Groups</h5>
          <canvas id="genderChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-bottom: 10px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Location Groups</h5>
          <canvas id="locationChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-7" style="margin-bottom: 10px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Language Groups</h5>
          <canvas id="languageChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
    const colorScale = d3.interpolateInferno;
    const colorRangeInfo = {
        colorStart: 0.15,
        colorEnd: 0.95,
        useEndAsStart: true,
    };
    //Age Demographics
    var ageChart = document.getElementById("ageChart").getContext("2d");
    var maritalChart = document.getElementById("maritalChart").getContext("2d");
    var ageValues = "{{ stats.age }}"
        .slice(13, -1)
        .replace("\\]", "")
        .split(",");
    var ageLen = 0;
    for (i in ageValues) {
        ageValues[i] = parseInt(ageValues[i]);
        ageLen += 1;
    }
    createChart(
        "ageChart",
        [
            "0 to 9",
            "10 to 19",
            "20 to 29",
            "30 to 39",
            "40 to 49",
            "50 to 59",
            "60 to 69",
            "70 to 79",
            "80 to 100",
            "> 100"
        ],
        "Number of Individuals",
        ageValues,
        ageLen,
        colorScale,
        colorRangeInfo,
        "bar"
    )

    //Marital Demographics
    var maritalGroups = "{{ stats.marital }}"
        .slice(13, -1)
        .replace("\\]", "")
        .split(",");
    var maritalLen = 0;
    for (i in maritalGroups) {
        maritalGroups[i] = parseInt(maritalGroups[i]);
        maritalLen += 1;
    }
    createChart(
        "maritalChart",
        ["Never Married", "Single", "Married"],
        "Number of Individuals",
        maritalGroups,
        maritalLen,
        colorScale,
        colorRangeInfo,
        "pie"
    )

    //Gender Demographics
    var genderGroups = "{{ stats.gender }}"
        .slice(13, -1)
        .replace("\\]", "")
        .split(",");
    var genderLen = 0;
    for (i in genderGroups) {
        genderGroups[i] = parseInt(genderGroups[i]);
        genderLen += 1;
    }
    createChart(
        "genderChart",
        ["Male", "Female"],
        "Number of Individuals",
        genderGroups,
        genderLen,
        colorScale,
        colorRangeInfo,
        "pie"
    )

    //Location Demographics
    var tmpLocation = "{{ stats.location }}"
        .replace(/&#39;/g, "")
        .replace(/\s/g, "")
        .slice(1, -1)
        .split(",");
    var locations = [];
    var locationCount = [];
    var locationLen = 0;
    for (i in tmpLocation) {
        locationDict = tmpLocation[i].split(":");
        locations.push(locationDict[0]);
        locationCount.push(parseInt(locationDict[1]));
        locationLen += 1;
    }
    createChart(
        "locationChart",
        locations,
        "Number of Individuals",
        locationCount,
        locationLen,
        colorScale,
        {
        colorStart: 0,
        colorEnd: 0.65,
        useEndAsStart: true,
        },
        "pie"
    )


    //Race Demographics
    var tmpRace = "{{ stats.race }}"
        .replace(/&#39;/g, "")
        .slice(1, -1)
        .split(",");
    var race = [];
    var raceCount = [];
    var raceLen = 0;
    for (i in tmpRace) {
        raceDict = tmpRace[i].split(":");
        race.push(raceDict[0]);
        raceCount.push(parseInt(raceDict[1]));
        raceLen += 1;
    }
    createChart(
        "raceChart",
        race,
        "Number of Individuals",
        raceCount,
        raceLen,
        colorScale,
        colorRangeInfo,
        "bar"
    )

    //Language Demographics
    var tmpLanguage = "{{ stats.language }}"
        .replace(/&#39;/g, "")
        .slice(1, -1)
        .split(",");
    var language = [];
    var languageCount = [];
    var languageLen = 0;
    for (i in tmpLanguage) {
        languageDict = tmpLanguage[i].split(":");
        language.push(languageDict[0]);
        languageCount.push(parseInt(languageDict[1]));
        languageLen += 1;
    }
    createChart(
        "languageChart",
        language,
        "Number of Individuals",
        languageCount,
        languageLen,
        colorScale,
        colorRangeInfo,
        "pie"
    );

    //Helper Function used to create Charts
    function createChart(
        chartId,
        chartLabels,
        chartTitle,
        chartData,
        dataLength,
        colorScale,
        colorRangeInfo,
        chartType
    ) {
        const charElement = document.getElementById(chartId);
        var COLORS = interpolateColors(dataLength, colorScale, colorRangeInfo);
        const myChart = new Chart(charElement, {
        type: chartType,
        data: {
            labels: chartLabels,
            datasets: [
            {
                label: chartTitle,
                backgroundColor: COLORS,
                data: chartData
            }
            ]
        },
        options:{
            title:{
                display: false
            }
        }
        });
        return myChart;
    }

</script>
{% endblock %}
