{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<form class="form-inline">
  <input
    class="form-control mr-sm-2"
    id="myInput"
    type="text"
    placeholder="Search Name.."
  />
</form>
<br />
<div class="">
  <table class="table" id="patient-table">
    <thread>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>More</th>
      </tr>
    </thread>

    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{patient.name.given}} {{patient.name.family}}</td>
        <td>{{patient.uuid}}</td>
        <td>
          <a href="patientObs/{{patient.uuid}}">Patient's Observations</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var filter = document.getElementById("myInput").value.toLowerCase();
      table = document.getElementById("patient-table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent.toLowerCase();
          if (txtValue.indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    $("#patient-table tbody").click(function() {
      var tr = $(this).closest("td");
      console.log(tr);
    });
  });
</script>
{% endblock %}
