{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<form class="form-inline">
  <input
    class="form-control mr-sm-2"
    id="myInput"
    type="text"
    placeholder="Search.."
  />
</form>
<br />
<div class="">
  <!-- <ul class="list-group" id="myList">
    {% for patient in patients %}
    <a
      href="patient/{{patient.uuid}}"
      class="list-group-item list-group-item-action"
      id="{{patient.uuid}}"
      >{{patient.name.given + " " + patient.name.family}}</a
    >
    {% endfor %}
  </ul> -->
  <table class="table" id="patient-table">
    <thread>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Birth Date</th>
        <th>More</th>
      </tr>
    </thread>

    <tbody id="patient-table-body">
      {% for patient in patients %}

      <tr>
        <td>{{patient.name.given}}</td>
        <td>{{patient.name.family}}</td>
        <td>{{patient.birth_date}}</td>
        <td>
          <a href="patientObs/{{patient.uuid}}">Patient's Observations</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var value = $(this)
        .val()
        .toLowerCase();
      $("#myList a").filter(function() {
        $(this).toggle(
          $(this)
            .text()
            .toLowerCase()
            .indexOf(value) > -1
        );
      });
    });
  });

  // buildTable();

  // function buildTable() {
  //   var table = $("patient-table-body");
  //   for (i in patients) {

  //     var row = `<tr>
  //       <td>${patient.name.given}</td>
  //       <td>${patient.name.family}</td>
  //       </tr>`;
  //     table.append(row);
  //   }
  // }
</script>
{% endblock %}
